nav{
    display: flex;
    justify-content: space-around;
}
nav > .link{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-decoration: none;
}

nav > .link:hover{
    color: brown;
} 
